* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 10vh;
    
    top: 0;

    position: fixed;

    overflow: hidden;
}

.logo {
    font-weight: 400;
    font-size: clamp(1.5rem, 2vw + .5rem, 3rem)
}

.nav-options {width: 72.5%;}

.nav-options li {
    padding: 4.5vh 1.5vw;

    list-style: none;
}

.nav-options a {
    font-size: clamp(1.25rem, 1.1vw + .5rem, 3rem);

    text-decoration: none;
}

.theme {
    padding: .5vw;

    box-shadow: 5px 5px 10px var(--button-color-shadow1),
                -5px -5px 15px var(--button-color-shadow2);
}

.search {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.searchbar .material-icons {
    background-color: var(--input-background-color);

    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;

    padding: .25vh .1vh;
}

p {
    font-weight: 800;
    font-size: clamp(.5rem, .8vw, 1.25rem)
}

header,
.nav-options, 
.searchbar, 
.searchbar .material-icons {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.logo, 
.nav-options a {color: var(--text-color-primary)}

header, .theme {background-color: var(--background-color)}

.theme .material-icons,
.searchbar .material-icons, p {
    color: var(--text-title-color)
}

.theme .material-icons,
.searchbar .material-icons, 
.search {font-size: clamp(1.25rem, 1.25vw + .5rem, 3rem)}

.nav-options li:hover {
    transition: .2s;
    background-color: var(--select-background-color);
}

.theme:hover, 
.nav-options li:hover {cursor: pointer}

.searchbar, .theme {border-radius: 8px}

.search, .theme {color: var(--text-title-color)}

.searchbar, .search {
    width: 100%;
    height: 100%;

    background-color: var(--input-background-color);
}

.searchbar, .search, 
.search .material-icons,
.theme{
    outline: none;
    border: none;
}