@media screen and (max-width:767px) {
    header {
        overflow: visible;
        justify-content: space-around;
    }

    label .button {display: block}

    #menu-toogle:checked ~ .nav-options {
        position: absolute;

        display: block;

        top: 9.85vh;

        flex-direction: column;

        text-align: center;

        background-color: var(--background-color);     
    }

    #menu-toogle:checked ~ .nav-options,
    .nav-options li {width: 100%}

    .searchbar {
        margin: 2vh auto;
        width: 80%;
    }

    #menu-toogle:checked ~ label .burger-bar {
        transform: rotate(45deg)
    }

    #menu-toogle:checked ~ label .burger-bar::after,
    #menu-toogle:checked ~ label .burger-bar::before {
        transform: rotate(90deg) translateY(0)
    }

    .initial-page-content h2 {text-align: center}

    .nav-options,
    .carousel .slick-prev, 
    .carousel .slick-next {display: none}
    
    .carousel .slick-prev, 
    .carousel .slick-next {visibility: hidden}
}

@media screen and (max-width:425px) {
    footer .footer-options li .material-icons {display: block}
}
