.light-theme {
    background-image: url(../images/background-image-light-theme.webp);
    --text-color: #121212;
}
.dark-theme {
    background-image: url(../images/background-image-dark-theme.webp);
    --text-color: #f3eded;
}

.light-theme, .dark-theme {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    padding-top: 12.2038vh;
    padding-bottom: 9.36019vh;

    font-family: Charcoal, sans-serif;

    color: var(--text-color);
}

h2 {
    padding-top: 10vh;

    margin: 0 1.5vw;

    font-size: clamp(1.45rem, 4vw, 3rem);
    font-weight: 600;
}

.carousel {
    width: auto; 
    height: auto; 

    align-content: center;

    margin: 0 1vw;
}

.carousel .card {
    width: auto;
    height: auto;

    position: relative;

    margin: .5vw;

    cursor: pointer;
}

.carousel .card:hover {
    filter: brightness(75%); 
    transition: .2s;
}

.carousel button {width: auto;}

.carousel .slick-prev {
    z-index: 1;
    left: .5vw;
}

.carousel .slick-next {right: .5vw;}

.carousel .slick-prev::before, 
.carousel .slick-next::before {font-size: 2.5vw;}

.card {outline: none;}

.card img { 
    width: 100%;
    height: auto; 

    border-radius: 8px;
}

.card .text-card {
    width: 100%;
    height: auto;

    bottom: 0%;

    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    position: absolute;

    font-size: clamp(1.5rem, 1.87vw, 2.5rem);

    background-color: #f3eded;
    color: #b21e1e;

    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}