* {
    padding: 0;
    margin: 0;
}
.light-theme {
    --background-button-color: #b21e1e;
    --select-background-color: #500909 ;

    --text-button-color: #f3eded;
    --select-text-color: #fdfdfd;
}
.dark-theme {
    --background-button-color: #0E0533;
    --select-background-color: #121212 ;

    --text-button-color: #f3eded;
    --select-text-color: #fdfdfd;
}
.menu {
    width: 500px;
    height: 500px;
    background-color: rgba(0, 255, 42, 0.198);
}

.buttons {
    display: flex;
    flex-direction: row;

    justify-content: space-around;

    padding-top: 10px;
}

#button_menu, .hidden-box, #change_mode {
    width: 25%;
    height: 15%;

    background-color: var(--background-button-color);
    color: var(--text-button-color); 
    
    border: 1px solid var(--background-button-color);

    font-size: 1.5em;
    font-family: Rambla;

    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    display: flex;

    cursor: pointer;
}

.hidden-box { visibility: hidden }

.show-box {
    width: 50%;
    height: 20%;

    visibility: visible;
}
.hidden-box:hover {
    background-color: var(--select-background-color);
    color: var(--select-text-color);
}