/* ==============Body================ */
.light-theme {
    background-image: url(../images/background-image-light-theme.webp);
    --text-color: #121212;
}
.dark-theme {
    background-image: url(../images/background-image-dark-theme.webp);
    --text-color: #f3eded;
}

.light-theme, .dark-theme {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: Charcoal, sans-serif;

    color: var(--text-color);
}

.initial-page-content {
    width: 100vw;

    margin: 3vh 0;

    display: flex;
    flex-direction: column;
}

.initial-page-content h2 {
    margin: 0 1.5vw;

    font-size: clamp(1.45rem, 4vw, 3rem);
    font-weight: 600;
}

.initial-page-content .carousel {
    width: auto; 
    height: auto; 

    align-content: center;

    margin: 0 1.5vw;
}

.initial-page-content .carousel .card {
    width: auto;
    height: auto;

    position: relative;

    margin: .5vw;

    cursor: pointer;
}

.initial-page-content .carousel .card:hover {
    filter: brightness(75%); 
    transition: .2s;
}

.initial-page-content .carousel button {width: auto;}

.initial-page-content .carousel .slick-prev {
    z-index: 1;
    left: .5vw;
}

.initial-page-content .carousel .slick-next {right: .5vw;}

.initial-page-content .carousel .slick-prev::before, 
.initial-page-content .carousel .slick-next::before {font-size: 2.5vw;}

.card {outline: none;}

.card img { 
    width: 100%;
    height: auto; 

    border-radius: 8px;
}

.card .text-card {
    width: 100%;
    height: auto;

    bottom: 0;

    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    position: absolute;

    font-size: clamp(1.5rem, 1.87vw, 2.5rem);

    background-color: #f3eded;
    color: #b21e1e;

    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

/* ==============Footer================== */
footer {
    width: 100vw;
    height: 10vh;

    position: fixed;

    bottom: 0;

    background-color: #f3eded;
}

.footer-options {
    height: 100%;
    
    display: flex;
    flex-direction: row;

    align-items: center;

    overflow: hidden;
    
    justify-content: space-between;
}

.footer-options li {
    width: 100%;
    
    padding: 5vh 0;

    display: flex;
    flex-direction: column;

    text-align: center;
}

.footer-options li:hover {
    cursor: pointer;

    transition: .2s;

    background-color: #c3c3c3;
}

.footer-options li .material-icons {
    display: none;

    color: #b21e1e;
}

.footer-options li a {
    margin: 0 auto;

    text-decoration: none;

    font-size: clamp(.75rem, calc(1.1vw + 1.35vh), 2.4rem);
    
    color: #b21e1e;
}

